.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: min(4vw, 48px);
  margin-bottom: 3vh;
}

.page-links img {
  width: clamp(64px, 8vw, 120px);
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  transition: all 200ms ease-in-out;
  transform-origin: bottom center;
}
@media (max-width: 600px) {
  .page-links img {
    width: clamp(8vw, 10vw, 60px);
  }
}
.page-links img:hover {
  filter: saturate(100%) invert(63%) sepia(51%) saturate(5899%)
    hue-rotate(78deg) brightness(101%) contrast(84%);
}
.live-button {
  transition: all 200ms ease-in-out;
  transform-origin: bottom center;
}
.live-button:hover {
  transform: scale(1.1);
}
.about-button {
  transition: all 200ms ease-in-out;
  transform-origin: bottom center;
}
.about-button:hover {
  transform: scale(1.1);
}
.about-section {
  text-align: left;
  padding: 0;
  font-size: clamp(1rem, 2vw, 3rem);
  line-height: 1.5;
}
.contact-page a {
  color: #fffcf5;
  transition: all 200ms ease-in-out;
}
.contact-page a:hover {
  transform: scale(1.4);
  filter: saturate(100%) invert(63%) sepia(51%) saturate(5899%)
    hue-rotate(78deg) brightness(101%) contrast(84%);
}

.register-login-buttons {
  display: flex;
  justify-content: right;
}
