
.profile-heading {
  font-size: clamp(2rem, 4vw, 5rem);
  margin-top: 10vh;
}
.profile-container {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  align-items: flex-start;
  margin: 10px auto;
  width: 800px;
  color: var(--user-fav-color);
  
}
.profile-left {
  flex: 1;
  max-width: 300px;
  text-align: left;
}
.profile-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.profile-right-heading {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  text-align: left;
  background-color: #fffcf5;
  padding: 10px;
  margin: 0;
}
.heading-right {
  text-align: right;
}
.quiz-result {
  font-size: 0.6rem;
  align-self: flex-end;
}

.about-me-container {
  width: auto;
}
.profile-section-head {
  text-align: left;
  background-color: #fffcf5;
  padding: 5px 10px;
  width: fit-content;
  margin: 0 0 10px 0;
}
.about-me-fields-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
}
.about-me-left,
.about-me-right {
  width: 100%;
}
.profile-field-container {
  list-style: none;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 0 10px 0;
}
.quiz-field-container {
  width: 100%;
  max-width: 200px;
}
.profile-field-container li,
.quiz-field-container li {
  justify-content: left;
  padding: 2px 10px 2px 10px;
  text-align: left;
  font-size: 0.65rem;
  height: fit-content;
  margin-bottom: 10px;
}

.profile-icon {
  width: 100%;
  max-width: 200px;
  height: auto;
  background-color: #fffcf5;
  padding: 10px;
  margin-bottom: 15px;
}

.profile-field {
  background-color: transparent;
  background-color: #fffcf5;
}



.form-group {
  margin-bottom: 2vh;
}